* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fff;
  --bg-color: ;
}

.header {
  background-color: #808080e7;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  margin-right: 10px;
}
.header ul li {
  list-style: none;
  text-transform: uppercase;
}
.header ul a {
  text-decoration: none;
  color: #000000ea;
}
.header ul a:hover {
  color: #000000;
  background-color: var(--primary-color);
}

@media (max-width: 768px) {
  .header {
    justify-content: flex-start;
  }
  .header ul {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #000000c2;
    width: 200px;
    padding-bottom: 20px;
    margin-top: 40px;
    display: none;
  }
}
